.seriescars {
    background-color: white;
    width: 100%;
    height: 60vh;
    margin-top: 500px;
}

.seriescars__card h1 {
    color: grey;
    margin-left: 400px;
    font-size: 100px;
    font-weight: 100;
    
}
.seriescars__card img {
    margin-left: 400px;
    margin-top: -100px;
    
}

.seriescars__card Button {
    margin-left: 580px;
}